@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");
:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #121212;
  color: #D6D6D6;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.mobile-only, .mobile-nav {
  display: none;
}

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.main-wrap {
  display: flex;
  justify-content: center;
}

main {
  border: 1px solid #3f3f3f;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  margin: 3em 2em;
  background-color: #1E1E1F;
}

.about {
  margin: 5rem auto 10rem auto;
  width: 100%;
  border-bottom: 2px solid #AD7F51;
}

.about-div {
  margin: 2% auto;
  max-width: 85%;
  padding: 1%;
}

.about-edu {
  background-color: #1E1E1F;
  display: flex;
  flex-flow: wrap;
  padding: 2%;
}
.about-edu p {
  padding: 0 0.5rem;
}
.about-edu div {
  border: 1px solid #AD7F51;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  width: 300px;
  margin: 2%;
  padding: 1%;
  flex-grow: 2;
}

footer {
  margin: 4rem auto;
}

.footer-list {
  list-style: none;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  margin: 4rem auto;
  width: 50%;
  color: #AD7F51;
}

.footer-info {
  color: #AD7F51;
  width: 100%;
  text-align: center;
}

.bi-download {
  padding-right: 15px;
}

.bi-linkedin,
.bi-github,
.bi-geo-alt,
.bi-envelope {
  display: block;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.bi-filetype-html,
.bi-filetype-js,
.bi-building,
.bi-terminal,
.bi-people {
  color: #AD7F51;
  padding: 1rem;
  font-size: 3rem;
}

.bi-info-square,
.bi-list,
.bi-x-lg {
  font-size: 2rem;
}

.name {
  margin: 0px;
  color: #AD7F51;
  font-family: "Comforter Brush", cursive;
  font-size: 3.5rem;
}

.fedu-heading, .project-heading, .contact-heading {
  font-size: 1.5rem;
  text-align: center;
}

.fedu-info {
  font-size: 1rem;
  margin: 1%;
}

.name {
  margin: 0px;
  color: #AD7F51;
  font-family: "Comforter Brush", cursive;
  font-size: 3.5em;
}

.left-side-menu {
  border: 1px solid #3f3f3f;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  position: -webkit-sticky;
  position: sticky;
  margin: 3rem 0rem 0rem 2rem;
  width: 300px;
  height: 100%;
  background-image: linear-gradient(180deg, #383838, #252525);
  text-align: center;
}

.pic-bg {
  border: 1px solid #AD7F51;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  width: auto;
  height: auto;
  margin: 10%;
  background-image: linear-gradient(135deg, #383838, #252525);
}

.profile-pic {
  border: 1px solid #383838;
  border-radius: 25px;
  margin: 15px;
  width: 80%;
}

.title {
  font-size: 1.2em;
  color: #AD7F51;
  border-top: 1px solid #AD7F51;
  border-bottom: 1px solid #AD7F51;
  padding: 5px 0px;
  background-image: linear-gradient(135deg, #383838, #252525);
}

a {
  color: #AD7F51;
  text-decoration: none;
  letter-spacing: 2px;
}

.info-list {
  padding-left: 0px;
  list-style: none;
}
.info-list li {
  margin: 30px;
}

.download {
  background-image: linear-gradient(135deg, #caa67f, #AD7F51);
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 500;
  color: #303338;
  text-decoration: none;
}
.download:hover {
  background-image: linear-gradient(135deg, #383838, #252525);
  color: #AD7F51;
  border: 1px solid #AD7F51;
  transition: all 0.3s ease 0s;
}
.download:not(:hover) {
  transition: all 0.3s ease 0s;
}

.bi-download {
  padding-right: 15px;
}

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, #383838, #252525);
  border-bottom: 1px solid #AD7F51;
  border-radius: 0px 0px 25px 25px;
}

.nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  margin: 10px 0px;
  z-index: 2;
}
.nav-list a {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  color: #AD7F51;
  border: 1px solid transparent;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
}
.nav-list a:hover {
  background-color: #1E1E1F;
  border: 1px solid #AD7F51;
  transition: all 0.3s ease 0s;
}
.nav-list a:not(:hover) {
  transition: all 0.3s ease 0s;
}

.project {
  width: 100%;
  margin: 5rem auto 10rem auto;
  border-bottom: 2px solid #AD7F51;
}

.project-wrap {
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.project-wrap div {
  margin: 5%;
  font-weight: 700;
  font-size: 1em;
  color: #AD7F51;
  align-self: center;
}
.project-wrap img {
  background-color: #121212;
  width: 90%;
  padding: 1rem;
  -webkit-border-start: 1px solid;
          border-inline-start: 1px solid;
  -webkit-border-before: 1px solid;
          border-block-start: 1px solid;
  border-image-source: radial-gradient(circle at top left, #AD7F51, transparent);
  border-image-slice: 1;
  line-height: 0;
}
.project-wrap img:hover {
  transition: scale 0.3s ease 0s;
  scale: 1.2;
  background-color: transparent;
}
.project-wrap img:not(:hover) {
  transition: scale 0.3s ease 0s;
}

.contact {
  margin: 5rem auto;
  width: 100%;
  text-align: center;
}

.contact-wrap {
  margin: 0 auto;
  width: 50%;
  padding: 2rem;
  text-align: center;
}

.input-wrap {
  display: block;
  border-bottom: 2px solid #AD7F51;
  margin: 2rem auto;
  width: 80%;
  height: auto;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: transparent;
  font-size: 1.5rem;
  color: #AD7F51;
  outline: none;
  border-style: none;
  padding-top: 1rem;
  resize: none;
  width: 70%;
}

.send-button {
  font-family: "Montserrat", sans-serif;
  background-color: #AD7F51;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #303338;
  outline: none;
  border-style: none;
  border: 2px solid #AD7F51;
  border-radius: 25px;
  margin: 5rem;
  padding: 1rem;
  width: 50%;
  cursor: pointer;
}
.send-button:hover {
  background-color: #121212;
  color: #AD7F51;
  transition: all 0.3s ease 0s;
}
.send-button:not(:hover) {
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1024px) {
  .mobile-only {
    display: inline;
  }
  .desktop-only {
    display: none;
  }
  .fedu-heading,
.project-heading,
.contact-heading {
    font-size: 1.5rem;
    text-align: center;
  }
  main {
    width: 100%;
    margin: 0;
  }
  .left-side-menu {
    display: none;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .left-side-menu-toggle {
    background: transparent;
    border: 0;
    color: #AD7F51;
  }
  .info-open .info {
    display: block;
    position: absolute;
    inset: 3rem 0.5rem;
  }
  .right-side-menu-toggle {
    background: transparent;
    border: 0px;
    color: #AD7F51;
  }
  .mobile-nav {
    border: 1px solid #AD7F51;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
    background-image: linear-gradient(180deg, #383838, #252525);
    margin: 0 auto;
    top: 6rem;
    right: 3.5rem;
    position: absolute;
    padding: 1.5em;
    width: 200px;
    text-align: center;
  }
  .mobile-nav ul {
    list-style: none;
    padding-left: 0;
  }
  .mobile-nav ul li {
    font-weight: 600;
    margin: 2.5em auto;
  }
  .project-wrap {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .project-wrap div {
    margin: 5% auto;
    padding: 3% 0%;
    margin-bottom: 2%;
    width: 66%;
  }
  .project-wrap div img {
    width: 66%;
  }
  .contact-wrap {
    width: 90%;
  }
  .input-wrap {
    margin: 0 auto;
    border-bottom: 2px solid #AD7F51;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  input,
textarea {
    font-size: 1rem;
    margin: 3rem 1rem 0rem 1rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 5px;
    resize: none;
    width: 90%;
  }
  .send-button {
    font-size: 1rem;
    width: 40%;
  }
  .footer-list {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-list li {
    padding: 0.75rem;
  }
}