@use "base/colors.scss";
@use "base/typography.scss";
@use "components/scrollsnap.scss";
@use "components/form.scss";
@use "responsive/mobile.scss";






$background_color: whitesmoke;
$text_color: black;
$hover_color: lightgrey;



// Nedan är navbar/meny i headern
// font-family: 'Epilogue', sans-serif;


header {
  position: sticky;
  top: 0px;
  width: 100%;
}

ul.nav {
  width: 100%;
  display: flex;
  justify-content: right;
  list-style: none;
  margin-top: 15px;
  padding-left: 0px;
  
  li {
    padding: 5px 0px;
    margin: 0px 20px;
    
    a {
      font-family: 'Krona One', sans-serif;
      // font-family: 'Epilogue', sans-serif;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 2px;
      text-decoration: none;
      color: $text_color;
      padding: 5px 10px;
      
      &:hover {
        padding: 5px 10px;
        color: $text_color;
        background-color: $hover_color;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
      }
      
      &:not(:hover) {
        transition: all 0.3s ease 0s;
      }
    }
  }
}
// Nedan börjar första sidan

h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 4rem;
  letter-spacing: 30px;
  // margin-bottom: 20px;
}
h2 {
  font-family: 'Krona One', sans-serif;
  font-size: 2rem;
  letter-spacing: 10px;
  // margin-top: 50px;
}
.profilepic {
  img {
    border-radius: 100%;
  }
}

.section_in_div {
  margin: 0px 50px;
  padding-top: 15%;
}

ul.fardighetlist {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  list-style: none;
  li {
    margin: 0px 10px;
  }
}

ul.portfolio {
  text-align: center;
  margin: 0 auto;
  margin-top: 90px;

  li {
    border: 1px solid $text_color;
    border-radius: 5px;
    padding: 100px;
    margin: 20px;
    display: inline-block;
    font-size: 3em;

    &:hover {
      border: 1px solid $text_color;
      border-radius: 5px;
      background-color: #c2c2c2;
      transition: all 0.3s ease 0s;
      cursor: pointer;
    }
    &:not(:hover) {
      border-radius: 5px;
      transition: all 0.3s ease 0s;
    }
  }
}

ul.socialt {
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    padding: 20px 30px;
    margin: 60px 60px;

    a {
      color: $text_color;
      font-size: 2em;
      padding: 20px 30px;
      border-radius: 5px;

      transition: all 0.3s ease 0s;
    }
  }
  li:hover a:hover {
    transition: all 0.3s ease 0s;
    background-color: $text_color;
    color: $background_color;
    border-radius: 5px;
    padding: 20px 30px;
    cursor: pointer;
  }

  li:not(:hover) {
    border-radius: 5px;
    transition: all 0.3s ease 0s;
  }
}
