@use "base/_color.scss" as c; 
@use "base/_font.scss";
@use "base/_heading.scss";
@use "responsive/_mobile.scss";
@use "layout/_nav.scss";
@use "layout/_aside.scss";
@use "layout/_grid.scss";
@import "base/_mixin";

:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: c.$black-bg-body;
  color: c.$white;
  //   font-family: "Cinzel", serif;
  font-family: "Montserrat", sans-serif;
}


.mobile-only {
  display: none;
}
.nav-sticky {
  position: sticky;
  top: 0px;
}
.main-wrap {
  display: flex;
}
main {
  @include border-grey-shadow;
  margin: 3vw;
  background-color: c.$black-bg-dark;
  height: auto;
}

.about {
  margin: 0 auto;
  width: 100%;
}

.about-div {
  margin: 2% auto;
  max-width: 85%;
  padding: 1%;
}

.about-edu {
  background-color: c.$black-bg-dark;
  display: flex;
  flex-flow: wrap;
  padding: 2%;

  div {
    @include border-gold-shadow;
    width: 300px;
    margin: 2%;
    padding: 1%;
    flex-grow: 2;
  }
}


