@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


$background_color: whitesmoke;
$text_color: black;
$hover_color: lightgrey;


body {
    margin: 0;
    width: 100vw;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
    background: $background_color;
    color:  $text_color;
    
    .container {
        text-align: center;
        width: 100%;
        height: 90%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 90vh;
            scroll-snap-align: start;            
        }
    }
}

header {
    text-align: right; 
    position: sticky;
    top: 0px;

    img {
        width: 50px;
        display: block;
        float: left;
        margin: 0px 0px 0px 10px;
    }
    
        ul.nav li  {

            margin: 15px 20px 0px 0px;;
            display: inline-block;
            
            
            a {
            
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 600;
                color: $text_color; 
            
                    &:hover {
                    padding: 10px 20px;
                    color: $text_color;
                    background-color: $hover_color;
                    border-radius: 5px;
                    transition: all 0.3s ease 0s;
                    cursor: pointer;            
                    }

                &:not(:hover) {
                    transition: all 0.3s ease 0s;
                    padding: 10px 20px;
                }
            }      
        }
    }

ul.portfolio {
    text-align: center;
    margin: 0 auto;

    li {
        border: 1px solid $text_color;
        border-radius: 5px;
        padding: 100px 100px;
        margin: 0px 20px;
        display: inline-block;
        font-size: 3em;
        

        &:hover {
            border: 1px solid $text_color;
            border-radius: 5px;
            background-color: #c2c2c2;
            transition: all 0.3s ease 0s;
            cursor: pointer;


        }
        &:not(:hover) {
            border-radius: 5px;
            transition: all 0.3s ease 0s;
        }
    }

}





    ul.socialt { 
        text-align: center;

        li {
            display: inline-block;
            padding: 20px 30px;
            margin: 0px 30px;
            
            a {
                color: $text_color;
                font-size: 2em;
                padding: 20px 30px;
                border-radius: 5px;
                transition: all 0.3s ease 0s;
                
            }
        }
        li:hover a:hover {
         transition: all 0.3s ease 0s;
         background-color: $text_color;
         color: $background_color;
         border-radius: 5px;
         padding: 20px 30px;
         cursor: pointer;
        }

        li:not(:hover) {            
            border-radius: 5px;
            transition: all 0.3s ease 0s;
            
        } 

    }