@use "scss/base/mixin" as *;

@use  "scss/base/color" as c;
@use "scss/base/heading";
@use "scss/base/font";
@use "scss/layout/aside";
@use "scss/layout/nav";
@use "scss/layout/grid";
@use "scss/responsive/mobile";



:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: c.$black-bg-body;
  color: c.$white;
  //   font-family: "Cinzel", serif;
  font-family: "Montserrat", sans-serif;
}


.mobile-only, .mobile-nav {
  display: none;
}
.nav-sticky {
  position: sticky;
  // top: 3em;
}
.main-wrap {
  display: flex;
}
main {
  @include border-grey-shadow;
  // margin: 3vw;
  margin: 3vw 2vw 0vw 2vw;
  background-color: c.$black-bg-dark;
  height: 1500px;
}

.about {
  margin: 0 auto;
  width: 100%;
}

.about-div {
  margin: 2% auto;
  max-width: 85%;
  padding: 1%;
}

.about-edu {
  background-color: c.$black-bg-dark;
  display: flex;
  flex-flow: wrap;
  padding: 2%;

  div {
    @include border-gold-shadow;
    width: 300px;
    margin: 2%;
    padding: 1%;
    flex-grow: 2;
  }
}

