@use "../base/color" as c;
@use "../base/mixin" as *;

// Denna scss styr media query för mobilvy
@media screen and (max-width: 1024px) {
  .mobile-only {
    display: inline ;
  }

  .desktop-only {
    display: none;
  }

  .fedu-heading,
  .project-heading,
  .contact-heading {
    font-size: 1.5rem;
    text-align: center;
  }
  main {
    width: 100%;
    margin: 0 ;
  }

  .left-side-menu {
    display: none;
    height: max-content;
  }


  .left-side-menu-toggle {
    background: transparent;
    border: 0;
    color: c.$gold;
  }
  .info-open .info {
    display: block;
    position: absolute;
    inset: 3rem 0.5rem;
  }
  
  .right-side-menu-toggle {
    background: transparent;
    border: 0px;
    color: c.$gold;
  }
  
  .mobile-nav {
    @include border-gold-shadow;
    background-image: linear-gradient(
      180deg,
      c.$black-fade-top,
      c.$black-fade-bottom
    );
    margin: 0 auto;
    top: 6rem;
    right: 3.5rem;
    position: absolute;
    padding: 1.5em;
    width: 200px;
    text-align: center;
    // z-index: 0;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        font-weight: 600;
        margin: 2.5em auto;
      }
    }
  }

  
  .project-wrap {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    div {
      margin: 5% auto;
      padding: 3% 0%;
      margin-bottom: 2%;
      width: 66%;
      img {
        width: 66%;
      }
    }
  }
  .contact-wrap {
    width: 90%;
  }
  .input-wrap {
    margin: 0 auto;
    border-bottom: 2px solid c.$gold;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    font-size: 1rem;

    margin: 3rem 1rem 0rem 1rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 5px;
    resize: none;
    width: 90%;
  }

  .send-button {
    font-size: 1rem;
    width: 40%;
  }
  .footer-list {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    li {
      padding: 0.75rem;
    }
  }
}
