@use "../base/color" as c;
@use "../base/mixin" as *;

// Denna scss styr kontaktdelen på sidan, alla formulär
.contact {
  margin: 5rem auto;
  width: 100%;
  text-align: center;
}

.contact-wrap {
  margin: 0 auto;
  width: 50%;
  padding: 2rem;
  text-align: center;
}

.input-wrap {
  display: block;
  border-bottom: 2px solid c.$gold;
  margin: 2rem auto;
  width: 80%;
  height: auto;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  font-size: 1.5rem;
  color: c.$gold;
  outline: none;
  border-style: none;
  padding-top: 1rem;
  resize: none;
  width: 70%;
}

.send-button {
  font-family: 'Montserrat', sans-serif;
  background-color: c.$gold;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: c.$black;
  outline: none;
  border-style: none;
  border: 2px solid c.$gold;
  border-radius: 25px;
  margin: 5rem;
  padding: 1rem;
  width: 50%;
  cursor: pointer;

  &:hover {
    background-color: c.$black-bg-body;
    color: c.$gold;
    transition: all 0.3s ease 0s;
  }
  &:not(:hover) {
    transition: all 0.3s ease 0s;
  }
}
