@use "../base/color" as c;

// Denna scss styr projektdelen på sidan
.project {
  width: 100%;
  margin: 5rem auto 10rem auto;
  border-bottom: 2px solid c.$gold;
}
.project-wrap {

  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;

div {
    margin: 5%;
    font-weight: 700;
    font-size: 1em;
    color: c.$gold;
    align-self: center;
  }
  img {
    background-color: c.$black-bg-body;
    width: 90%;
    padding: 1rem;
    border-inline-start: 1px solid;
    border-block-start: 1px solid;
    border-image-source: radial-gradient(circle at top left, c.$gold, transparent);
    border-image-slice: 1;
    line-height:0; 
    &:hover {
      transform: scale(1.1) rotate(2deg);      
      background-color: transparent;
      transition: all 0.3s ease 0s;
    }
    &:not(:hover) {
      transition: all 0.3s ease 0s;      
    }    
  }
}

