
// 3d3d3e -> grade to -> 313131

$black-fade-top: #383838;
$black-fade-bottom: #252525;
$black-bg-light: #2A2A2B;
$black-bg-dark: #1E1E1F;
$black-bg-body: #121212;

$purple: #A822D5;
$blue: #415FDD;
$light-blue: #849EEC;
$gold-light: #b69574;
$gold: #AD7F51;
$black: #303338;
$white: #D6D6D6;