@use "color" as c;
@use "mixin" as *;



* {
    // @include border-color-shadow;
    background-color: c.$white !important;
    color: c.$black !important;
    // padding: 2rem;
    // border-inline-start: 5px solid;
    // border-inline-end: 5px solid;
    // border-block-start: 5px solid;
    // border-block-end: 5px solid;
    // border-image-source: linear-gradient(180deg, c.$purple , c.$blue, c.$light-blue);
    // border-image-slice: 1;
}

.left-side-menu {
    background-image: none !important; 
}

