@use "mixin" as *;
@use "color" as c;

:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: c.$black-bg-body;
  color: c.$white;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.mobile-only,
.mobile-nav {
  display: none;
}
.nav-sticky {
  position: sticky;
}
.main-wrap {
  display: flex;
  justify-content: center;
}
main {
  @include border-grey-shadow;
  margin: 3em 2em;
  background-color: c.$black-bg-dark;
}

.about {
  margin: 5rem auto 10rem auto;
  width: 100%;
  border-bottom: 2px solid c.$gold;
}

.about-div {
  margin: 2% auto;
  max-width: 85%;
  padding: 1%;
}

.about-edu {
  background-color: c.$black-bg-dark;
  display: flex;
  flex-flow: wrap;
  padding: 2%;
  p {
    padding: 0 0.5rem;
  }

  div {
    @include border-gold-shadow;
    width: 300px;
    margin: 2%;
    padding: 1%;
    flex-grow: 2;
  }
}
footer {
  margin: 4rem auto;
}
.footer-list {
  list-style: none;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  margin: 4rem auto;
  width: 50%;
  color: c.$gold;
}
.footer-info {
  color: c.$gold;
  width: 100%;
  text-align: center;
}
