@mixin border-gold-shadow {
  border: 1px solid c.$gold;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
}
@mixin border-grey-shadow {
  border: 1px solid c.$black-fade-top;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
}

@mixin button {
  // background-color: c.$gold;
  background-image: linear-gradient(135deg, c.$gold-light, c.$gold);
  padding: 10px 20px;
  border-radius: 25px;
  color: c.$black;
  &:hover {
    background-image: linear-gradient(
      135deg,
      c.$black-fade-top,
      c.$black-fade-bottom
    );
    // background-color: c.$black-bg-body;
    color: c.$gold;
    border: 1px solid c.$gold;
    transition: all 0.3s ease 0s;
  }
  &:not(:hover) {
    transition: all 0.3s ease 0s;
  }
}
a {
  font-size: 1em;
  text-decoration: none;
  color: c.$gold;
}
